@model webZone.ViewModels.LoginViewModel
﻿@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">Create new Account</div>

<div class="container-fluid text-danger">@Model.errorMessage</div>

<div class="container-fluid">
    <form method="post">

        @Html.LabelFor( m => m.username )
        @Html.EditorFor( m => m.username )

        @Html.LabelFor( m => m.password )
        @Html.EditorFor( m => m.password )

        <button type="submit">Create</button>
    </form>
</div>